ports/nrf52840/CMakeFiles/*
.ninja_log
.ninja_deps
build.ninja
rules.ninja
tests/_deps/*
tests/CMakeFiles/*
tests/CLSGenTrackerTests
CMakeCache.txt
tests/Makefile
ports/nrf52840/GenTracker.bin
ports/nrf52840/GenTracker.hex
ports/nrf52840/GenTracker.elf
ports/nrf52840/GenTracker_dfu.zip
ports/nrf52840/GenTracker.map
ports/nrf52840/GenTracker
ports/nrf52840/cmake_install.cmake
tests/cmake_install.cmake
