ports/nrf52840/CMakeFiles/*
.ninja_log
.ninja_deps
build.ninja
rules.ninja
tests/_deps/*
tests/CMakeFiles/*
tests/CLSGenTrackerTests
CMakeCache.txt
tests/Makefile
ports/nrf52840/cmake_install.cmake
tests/cmake_install.cmake
ports/nrf52840/LinkIt_CORE_board.map
ports/nrf52840/LinkIt_CORE_board.img
ports/nrf52840/LinkIt_CORE_board.hex
ports/nrf52840/LinkIt_CORE_board.elf
ports/nrf52840/LinkIt_CORE_board.bin
ports/nrf52840/LinkIt_CORE_board_dfu.zip
.vscode/settings.json
ports/nrf52840/bootloader/gentracker_secure_bootloader/gentracker_v1.0/armgcc/_build/*
ports/nrf52840/bootloader/gentracker_secure_bootloader/horizon_v4.0/armgcc/_build/*
ports/nrf52840/bootloader/gentracker_secure_bootloader/rspbtracker_v1.0/armgcc/_build
ports/nrf52840/build/*

.fake
doc/
html/
.devcontainer/
.dockerignore
.vscode/*
build/
